<configuration>
    <property name="logs" value="./logs" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs}/bot.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs}/bot.%d{dd-MM-yyyy}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.twitch4j" level="INFO"/>
    <logger name="com.github.twitch4j.chat" level="DEBUG"/>
    <logger name="com.github.twitch4j.client.websocket" level="INFO"/>

    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
    <root level="ERROR">
        <appender-ref ref="FILE" />
    </root>

</configuration>